@model HomeIndexViewModel

@{
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "d_messages",
        InsertionMode = InsertionMode.Replace
    };
}

<div class="row" id="d_usersmessages">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var user in Model.Users)
            {
            <li>
                @*<table style="width: 100%;">
                    <tr>
                        <td style="width: 15%;">
                            <span class="badge badge-light">@user.MessageCount</span>
                        </td>
                        <td>
                            @Ajax.ActionLink(user.UserName, "Messages", "Home", new { id = user.UserId }, ajaxOptions)
                        </td>
                    </tr>
                </table>*@

                @*<span class="badge badge-light">@user.MessageCount</span>*@
                @*@Ajax.ActionLink(user.UserName, "Messages", "Home", new { id = user.UserId }, ajaxOptions)*@
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#d_messages" data-id="@user.UserId" href="/Home/Messages/@user.UserId" class="a_user"><span class="badge badge-light">@user.MessageCount</span>&nbsp;@user.UserName</a>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div id="d_messages" style="height: 400px; width: 100%; overflow-y: auto;">
            @Html.Partial("_Messages", Model)
        </div>
        <div style="width: 100%;">
            @using (Ajax.BeginForm("Message", ajaxOptions))
            {
                <input type="text" name="ReceiverId" id="ReceiverId" value="" />
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 90%;">
                            @Html.TextBoxFor(e => e.Message, new { @class = "form-control" })
                        </td>
                        <td>
                            <button type="submit" class="btn btn-info">Send</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".a_user").off('click');
            $(".a_user").on('click', function () {
                //console.log($(this).parent());
                var li = $(this).parent();
                var ul = li.parent();
                //console.log(ul.children());

                //$.each(ul.children(), function (i, item) {
                //    //console.log(item);
                //    item.className = '';
                //});
                //ul.children().each(function () {
                //    $(this).removeClass('active');
                //});
                ul.find('li.active').removeClass('active');

                li.addClass('active');

                //$("#ReceiverId").val($(this).attr("data-id"));
                $("#ReceiverId").val($(this).data("id"));
            });
        });
    </script>
}